.login_div {
    border: groove #ceffb7 medium;
    border-radius: 6px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 370px;
    margin:  auto;
    margin-top: 40px;
}